:root {
  --color-primary: #ff9900;
  --color-bg-base: #ffffff;
  --color-error: #c51813;

  --radius: 8px;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #000000;
  background-color: var(--color-bg-base);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: var(--radius);
  padding: 0.6em 2.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

.button--primary {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-bg-base);
}

.button--secondary {
  border: 1px solid var(--color-primary);
  background-color: var(--color-bg-base);
  color: var(--color-primary);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 280px;
  top: 0;
  position: fixed;
  justify-self: anchor-center;
}